.leaflet-retina .leaflet-control-layers-toggle {
    background-color: white;
    background-image: url('images/layers.png');
}

.leaflet-control-search .search-button {
        background-image: url('images/search-icon.png');
    }
